# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Build
*.dll
*.exe
*.pdb
project.lock.json
project.fragment.lock.json
artifacts/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage

# OS generated
.DS_Store
.DS_Store?
._*
Thumbs.db

# Publish output
dist/
publish/
